.selected {
    border: 2px solid rgb(96, 155, 194);
    border-radius: 5px;
}

.card-wrapper {
    cursor: pointer;
    padding: 5px;
}

img {
    width:  130px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
}